@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

:root {
  --default-font-family: 'Libre Caslon Text','Noto Serif JP',serif;

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
